<h2>Test multiple uploads</h2>

<form id="upload-test-form" action="/photos" method="POST">
	<input type="submit" value="Upload Photos">
	<label>
		TEMP: Photo Gallery
		<input type="text" name="photo_gallery_id">
	</label>
	<div style="border: 1px solid black;">
		<h3>New Photo</h3>
		<div style="height: 150px; width: 150px; border: 1px solid gray; background-color: lightgray">
			<img class="img-preview" style="display: block; max-height: 100%; max-width: 100%; height: auto; width: auto; margin-left: auto; margin-right: auto;" src="">
		</div>
		<label>
			Upload image:
			<input class="img-upload" type="file" name="photo[photo_img][]">
		</label>
		<label>
			Title:
			<input type="text" name="photo[title][]" value="Untitled">
		</label>
		<label>
			Description:
			<textarea name="photo[description][]"></textarea>
		</label>
	</div>

</form>

<button type="button" id ="add-file-input">More Photos</button>


<div id="upload-proto" style="border: 1px solid black; display: none;">
	<h3>New Photo</h3>
	<div style="height: 150px; width: 150px; border: 1px solid gray; background-color: lightgray">
		<img class="img-preview" style="display: block; max-height: 100%; max-width: 100%; height: auto; width: auto; margin-left: auto; margin-right: auto;" src="">
	</div>
	<label>
		Upload image:
		<input class="img-upload" type="file" name="photo[photo_img][]">
	</label>
	<label>
		Title:
		<input type="text" value="Untitled" name="photo[title][]">
	</label>
	<label>
		Description:
		<textarea name="photo[description][]"></textarea>
	</label>
</div>