<h2>Test multiple uploads</h2>

<form id="upload-test-form">
	<div style="border: 1px solid black;">
		<h3>New Gallery</h3>
		<div style="height: 150px; width: 150px; border: 1px solid gray; background-color: lightgray">
			<img class="img-preview" style="display: block; max-height: 100%; max-width: 100%; height: auto; width: auto; margin-left: auto; margin-right: auto;">
		</div>
		<label>
			Upload image:
			<input class="img-upload" type="file">
		</label>
		<label>
			Title:
			<input type="text">
		</label>
		<label>
			Description:
			<textarea></textarea>
		</label>
	</div>

</form>

<button type="button" id ="add-file-input">More Photos</button>


<div id="upload-proto" style="border: 1px solid black; display: none;">
	<h3>New Gallery</h3>
	<div style="height: 150px; width: 150px; border: 1px solid gray; background-color: lightgray">
		<img class="img-preview" style="display: block; max-height: 100%; max-width: 100%; height: auto; width: auto; margin-left: auto; margin-right: auto;">
	</div>
	<label>
		Upload image:
		<input class="img-upload" type="file">
	</label>
	<label>
		Title:
		<input type="text">
	</label>
	<label>
		Description:
		<textarea></textarea>
	</label>
</div>