<h2>New Gallery</h2>

<a href="#/galleries">Back to galleries index</a>

<form>
	<input type="file" id="img-upload">
</form>

<div style="height: 150px; width: 150px; border: 1px solid black;">
	<img class="img-preview" style="display: block; max-height: 100%; max-width: 100%; height: auto; with: auto;">
</div>
<div style="height: 300px; width: 300px; border: 1px solid black;">
	<img class="img-preview" style="display: block; max-height: 100%; max-width: 100%; height: auto; with: auto;">
</div>
<div style="height: 500px; width: 500px; border: 1px solid black;">
	<img class="img-preview" style="display: block; max-height: 100%; max-width: 100%; height: auto; with: auto;">
</div>