<h2><%= gallery.escape("title") %>'s Show Page</h2>

<h3><%= gallery.escape("description") || "NO DESCRIPTION" %></h3>

<a href="#/galleries">Back to galleries index</a>

<div id="photos-container"></div>