<h2>Galleries Index</h2>

<a href="#/galleries/new">New Gallery</a>

<ul>
<% galleries.each(function (gallery) { %>
	<li>
		<a href="#/galleries/<%= gallery.id %>">
		<%= gallery.escape("title") %>
		</a>
	</li>

<% }) %>
</ul>